@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: rgb(27, 27, 27);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.heading{
    width: 100vw;
    height: 5.5rem;
    background-color: #222;
    color: white;
    box-shadow: 0px 3px 5px rgb(248, 247, 247);
}
.heading h1{
    line-height: 5.8rem;
    margin-left: 2rem;
    font-weight: 400;
}
.add:active{
    transform: scale(0.98);
}
.btn-div{
    position: fixed;
    top: 7rem;
    right: 1rem;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
button.learn-more{
    width: 12rem;
    height: auto;
}
button.learn-more .circle{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(0, 183, 255);
    border-radius: 1.625rem;
}
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); 
    position: absolute; 
    bottom: 0; 
    background:#fff;
    top: 0;
    margin: auto;   
}
button.learn-more .circle .icon.arrow { 
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}   
button.learn-more .circle .icon.arrow::before {    
    position: absolute;
    content:""; 
    top: -0.25rem;
    right: 0.0625rem; 
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
} 
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;        
    padding: 0.75rem 0;
    margin: 000 1.85rem; 
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center; 
    text-transform: uppercase;
}    
button:hover .circle { 
    width: 100%;
        
} 
button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate (1rem, 0);
}
button:hover .button-text {
    color: #fff;    
}

.note{
    background-color: rgb(65, 65, 65);
    margin: 30px 20px; 
    height: 200px;
    width: 400px;
    overflow-y: scroll;
    margin-top: 7rem;
    border-radius: 5px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.note .tools{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note .tools button {
    background-color: transparent;
    border: none; 
    color:#fff;
    cursor: pointer;
    font-size: 1rem; 
    margin-left: 0.5rem;
}
.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    font-size: 1.2rem;
    border: none;
    height: 300px; 
    width: 100%;
    padding: 20px;
    color: white;
    background-color: #222;
}
.fa-edit,
.fa-trash-alt{ 
    color: #fff;
    padding: 10px;
    background-color: rgb(0, 255, 0); 
    border-radius: 50%;
}
.fa-trash-alt { 
    background-color: rgb(255, 0, 191);
}
.fa-edit:hover {
    background-color: #fff;
    color: rgb(0, 255, 0);
    filter: drop-shadow(0px 10px 8px rgb(219,218,218)); 
}
.fa-trash-alt:hover {
    background-color: #fff;
    color: rgb(255, 0, 191);
    filter: drop-shadow(0px 10px 8px rgb(219, 218, 218));
}
.main{
    padding: 20px;
    color: white;
}
.hidden{
    display: none;
}


.body{
    margin: auto;
}

