
#calender{
  width: 80%;
  margin-left: 10%;
  margin-top: 60px;
}
.calenderTable{
  margin: auto;
  width:90%;
  border: 1px solid black;
}
.calenderTable thead tr th{
  background-color: rgb(6, 6, 6);
  border-bottom: 1px solid black;
  padding: 20px 0px;
  color: rgb(253, 253, 251);


}
.calenderTable  tr td{
  text-align: center;
  padding: 20px 0px;
  border: 1px solid white;
  cursor: pointer;
  background: rgb(245, 240, 192);
}
.calenderBtns{
  
  width: 100%;
  
}
.calenderBtns button{
  padding: 6px 12px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;

}
.calenderDiv{
  display: none;
}
#calenderTable_1{
  display: block;
}
#heading{
  text-align: center;
}